@using System.Web.Mvc.Html
@using System.Web.Razor
@model MyOnlineShop.Models.Category

@{
    ViewBag.Title = "Browse";
}



<h2>Browsing category: @Model.Name</h2>

<ul>
    @foreach (var item in Model.Products)
    {
        <li>
            @Html.ActionLink(item.Title, "Details", new {id = item.Id})
            <img alt="@item.Title"
                 src="@item.ProductArtUrl" />
        </li>
    }
</ul>

