@model MyOnlineShop.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
<div id="prduct-details">
    Name:
    <h3>@Model.Title</h3>
   
    Category:
    <h3>@Model.Category.Name</h3>
    
    Price:
    <h3>
       $ @Model.Price
    </h3>
    
    <p>
        @Html.ActionLink("Add to Cart","AddToCart","ShoppingCart", new{id=Model.Id},new{@class="btn btn-primary"})
    </p>
</div>

