@model IEnumerable<MyOnlineShop.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h3>Browse Categories</h3>
<p>
    Select from @Model.Count()
    categories:
</p>

    @foreach (var category in Model)
    {
        <h3>@Html.ActionLink(category.Name,"Browse",new { category = category.Name })</h3>
    }

