@using System.Web.Handlers
@model IEnumerable<MyOnlineShop.Models.Category>

@{
    ViewBag.Title = "Index";
}
                     
<h2>Enter!</h2>
<div class="row">
    <div class="col-xs-6 col-md-12">
        <a href="#" class="thumbnail">
            <img src="@Url.Content("http://s1.e-monsite.com/2010/07/08/04/cart.jpg")" alt="...">
        </a>
    </div>
</div>
                     
<h3>Browse Categories</h3>
<p>
    Select from @Model.Count()
    categories:
</p>
<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="#"><img src="@category.CategoryImgUrl" alt="Alternate Text" style="min-height: 200px" /></a>
                
                <div class="caption">
                    <h3>@Html.ActionLink(category.Name, "Browse", new { category = category.Name })</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
    }
</div>
